html, body {
    text-align: center;
    font-family: verdana, sans-serif;
    height:100%; 
    margin:0;
   	padding:0;
}
body{
	display:flex; 
  	flex-direction:column; 
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.bottomBorder {
    border-bottom: 4px solid gray;
}

.tableWithRowsDelimiter td {
    padding-bottom: 5%;
}

.padd-lr-5 {
    padding: 5% 5% 5% 5%;
}

.width-25 {
    width: 25%;
}